/********************************************************
 RESPONSIVE.CSS

 MEDIA QUERY STYLES FOR MEDIUM AND LARGER SCREENS
 BASE STYLES IN STYLES.CSS 
********************************************************/

/*********************************************************
 SMALL SCREENS min-width 400px
**********************************************************/
@media screen and (min-width: 400px) {	
	nav {
		top: 55px;
	}
}
/*** END SMALL SCREENS ***********************************/


/*********************************************************
 MEDIUM SCREENS
**********************************************************/
@media screen and (min-width: 500px) {	
	/*********************************************************
	 HEADER 500px
	**********************************************************/
	header h1 {
		font-size: 4.5vw;
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 MAIN WRAP
	**********************************************************/
	.projNameDateWrap {
		float: right;
	}
	/*** END MAIN WRAP ***************************************/
}
/*** END MEDIUM SCREENS ************************************/



/*********************************************************
 MEDIUM/LARGE SCREENS
**********************************************************/
@media screen and (min-width: 625px) {	
	/*********************************************************
	 HEADER 625px
	**********************************************************/
	header {
		padding-top: 25px;
		padding-left: 25px;
		text-align: left;
	}
	
	.myTreehouseLogo {
		max-width: 150px;
	}
	
	header h1 {
		letter-spacing: 10px;
		text-shadow: 1px 1px 0px rgb(170,230,170), -1px -1px 0px rgb(170,230,170), 1px -1px 0px rgb(170,230,170), -1px 1px 0px rgb(170,230,170), 3px 3px 3px rgb(78,42,56);
	}
	
	.whoWrap {
		padding: 10px;
		border: 1px solid rgba(50,50,50,0.5);
		box-shadow: 2px 2px 3px rgba(25,25,25,.5);
	}
	
	.whoWrap h2 {
		font-size: 2em;
		letter-spacing: 2px;
		margin: auto auto 15px;
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV 625px
	**********************************************************/
	nav {
		top: 45px;
	}
	
	.navUL {
		max-width: 700px;
		margin: auto;
	}
	
	.navItem {
		width: 150px;
	}
	/*** END NAV *********************************************/

	

	/*********************************************************
	 MAIN WRAP 625px
	**********************************************************/
	.mainWrap {
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.projHeadWrap {
		background: transparent;
		border: none;
		box-shadow: none;
	}
	
	.lgProjImage {
		display: block;
		width: 500px;
		height: 200px;
		margin: 25px auto 50px;
	}

	.smProjImage {
		display: none;
	}
	
	.projNameDateWrap {
		float: none;
		height: 25px;
	}
	
	.projNameDateWrap h2 {
		float: left;
		font-size: 1.6em;
		color: rgb(62,39,35);
		margin-top: -2px;
		margin-left: 10px;
	}
	
	.projNameDateWrap p {
		float: right;
		margin-top: 10px;
	}
	
	.projFootWrap {
		position: relative;
		padding-bottom: 35px;
		background: -webkit-linear-gradient(top left, rgb(120,180,120), rgb(110,170,110));background: linear-gradient(to bottom right, rgb(120,180,120), rgb(110,170,110));
		border: 1px solid rgba(50,50,50,0.5);
		border-Top: 1px solid rgba(150,150,150,.5);
		box-shadow: 2px 2px 3px rgba(50,50,50,.5);
	}
	
	.projInfoWrap {
		width: 100%;
		height: auto;
		overflow: visible;
	}
	
	.projTrigger {
		width: 225px;
	}
	
	.projOpen {
		margin-top: -80px;
		margin-bottom: 50px;
		-webkit-filter: drop-shadow(0px 5px 3px rgba(50,50,50,.7));filter: drop-shadow(0px 5px 3px rgba(50,50,50,.7));
	}

	.projOpen:active, .projOpen:hover {
		-webkit-filter: drop-shadow(2px 10px 5px rgba(50,50,50,.7));filter: drop-shadow(2px 10px 5px rgba(50,50,50,.7));
	}
	
	.projTechWrap,
	.projDescriptionWrap {
		margin-left: 15px;
		margin-right: 15px;
		border: 1px solid rgba(50,50,50,0.5);
		border-Top: 1px solid rgba(150,150,150,.5);
		box-shadow: 2px 2px 3px rgba(50,50,50,.5);
	}
	
	.projSectionTitle {
		font-size: 1.75em;
		margin-top: 15px;
		cursor: pointer;
	}
	
	.projInfo {
		float: right;
		margin-right: 10px;
	}
	
	.projCode {
		float: right;
		margin-right: 10px;
	}
	
	.description {
		max-width: 1000px;
	}
	/*** END MAIN WRAP ***************************************/
}
/*** END MEDIUM SCREENS ************************************/



/*********************************************************
 lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1000px) {
	/*********************************************************
	 HEADER 1000px
	**********************************************************/	
	.myTreehouseLogo {
		position: absolute;
		max-width: 225px;
		top: -67.5px;
		right: 5px;
		box-shadow: 3px 3px 4px rgba(25,25,25,.5);
		-webkit-filter: drop-shadow(3px 3px 5px rgba(25,25,25,.5));filter: drop-shadow(3px 3px 5px rgba(25,25,25,.5));
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 MAIN WRAP 1000px
	**********************************************************/
	.projNameDateWrap h2 {
		font-size: 2em;
		margin-top: -5px;
	}
	
	.projDescriptionWrap {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 390px);
		float: right;
	}
	
	.projTechWrap {
		display: inline-block;
		width: 325px;
	}
	/*** END MAIN WRAP ***************************************/
}
/*** END LARGE SCREENS ****************************************/



/*********************************************************
 X lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1250px) {
	/*********************************************************
	 HEADER 1250
	**********************************************************/
	header h1 {
		font-size: 3.5em;
	}
	
	.myTreehouseLogo {
		top: -75px;
		right: 10px;
		max-width: 325px;
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV 1250px
	**********************************************************/
	nav {
		top: 45px;
	}
	
	.openNav {
		left: 30px;
	}
	
	.arrowFixed {
		left: 50%;
	}
	
	.arrowFixed:nth-of-type(1) {
		margin-left: -595px;
		left: 50%;
	}
	
	.arrowFixed:nth-of-type(2) {
		margin-left: 550px;
		right: auto;
	}
	/*** END NAV *********************************************/
}
/*** END X LARGE SCREENS **************************************/